* {
  margin: 0;
  font-family: "Terminal Dosis";
}

body{
  width:100vw;
  overflow-x: hidden;
}

#particles-js{
  width: 100vw;
  height:85vh;
  background-color: #111;
  background-image: url('');
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  top:0;
  margin:0;
}


#header{
  position:static;
  height: 85vh;
}

#header1 #logo{
  position: sticky;
  -webkit-position: sticky;
  horizontal-align: center;
}

#header2{
  position:sticky;
  top:-65vh;
  z-index:3;
}

#header2 #logo{
  position:fixed;
  top:-7vh;
}

/*#header2 #particle-js{
  position:fixed;
  height: 20vh;
  top:-65vh;
  z-index:9;
}*/

#text-card-1{
  height: auto;
  width:100vw;
  background-color: #808080;
  z-index:7;
}

#logo{
  z-index:10;
  position:sticky;
  top:20vh;
  color: white;
  margin-left:50%;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  /*font-family: "Abril Fatface";*/
  font-size: 6vh;
}

.container-1, .container-2 {
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
}

.item-1{
  flex:1;
  text-align: left;
  /*border-right: 1px solid black;*/
  padding: 10vw;
}

.item-2{
  flex:1;
  text-align: center;
  /*border-right: 1px solid black;*/
  padding: 10vw;
}

.item-3{
  flex:1;
  text-align: right;
  /*border-right: 1px solid black;*/
  padding: 10vw;
}

h1, h2{
  /*font-family: Quicksand;*/
  text-align: center;
  padding-bottom: 5vh;
  color:#FFF056;
}

p, ul li{
  font-size: 20px;
  /*font-family: "Josefin slab";*/
  color: white;
}

.container-1 div, .container-2 div{
  -webkit-transition: background-color 1s, color 1s; /* Safari */
    transition: background-color 1s, color 1s;
    transition-timing-function: ease-in;
}

.container-1 div:hover, .container-2 div:hover{
  background-color: rgba(256,256,256,1);
}

.container-1 div:hover ul li, .container-2 div:hover ul li, .container-1 div:hover p, .container-2 div:hover p{
  color: black;
}

.container-1 div:hover h1, .container-2 div:hover h1, .container-1 div:hover h2, .container-2 div:hover h2{
  color: #A9A9A9;
}

#map{
  width:100%;
  height:40vh;
  filter: grayscale(100);
}

#contact{
  margin:0;
  background-color: white;
  margin: 10px;
  text-align: center;
  font-size: 70px;
  padding: 10vh;
}

#contact a{
  margin: 0 5vw;
}

#contact i{
  opacity: 0.7;
  -webkit-transition: 1s;
    transition: 1s;
}

#contact i:hover{
  opacity:1;
}

#fb1{
  color: #4682b4;
}

#fb2{
  color: #3b5998;
}

#git{
  color: black;
}

@media (max-width:500px){
  #contact a{
    margin: 0 0;
  }
  .intro p, .intro h1{
    padding:0;
    margin:0;
    text-align: justify;
  }
  .intro{
    padding:0;
    margin:0;
  }
  ul li, p, .item-1, .item-2, .item-3{
    text-align:left;
  }
}

.intro{
  color: white;
  font-size: 27px;
  text-align: justify;
  /*margin: 10vh;*/
  padding: 15vh;
  background-color: rgba(256,256,256,0.2);
}

#society{
  text-decoration: none;
  color: #FFD700;
}

#society:hover{
  text-decoration: underline;
}
